{% extends 'academico/base.html' %}

{% block title %}Lista de estudiantes{% endblock %}

{% block content %}
<h1>Estudiantes</h1>

{% if estudiantes %}
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Cédula</th>
            <th>Carrera</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for estudiante in estudiantes %}
            <tr>
                <td><a href="{% url 'detalle_estudiante' estudiante.pk %}">{{ estudiante.name }}</a></td>
                <td>{{ estudiante.cedula }}</td>
                <td>{{ estudiante.carrera_id.name }}</td>
                <td>{{ estudiante.get_estado_display }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No hay estudiantes registrados.</p>
{% endif %}
{% endblock %}
